@import "../styles/base";

.Codec_Pro_Li{
  font-family: "Codec Pro", sans-serif;
  font-weight: 300;
}
.Dhurjati{
  font-family: "Dhurjati", sans-serif;
  color: red;
}
.Roboto_Condensed{
  font-family: "Roboto Condensed", sans-serif;
}
.Codec_Pro_News_It{
  font-family: "Codec Pro News", sans-serif;
  font-style: italic;
}
.Codec_Pro_News{
  font-family: "Codec Pro News", sans-serif;
}
.Roboto_Bold{
  font-family: "Roboto", sans-serif;
  font-weight: 800;
}

.check_bg{
  width: 300px;
  height: 300px;
  @include background('check.jpg')
}