@charset "UTF-8";
@import "~bootstrap/scss/bootstrap";
@import "fonts";
$imagedir:'../images/'; // base image path


@mixin pseudo($display: block, $pos: absolute, $content: ''){
  content: $content;
  display: $display;
  position: $pos;
}

@mixin background($filename,$repeat: no-repeat) {
  background: transparent url(#{$imagedir}#{$filename}) $repeat;
  background-position: center center;
  background-size: cover;
}
@media only screen and (max-width: 1800px){
  html{font-size:15px;}
}

@media only screen and (max-width: 1560px){
  html{font-size:14px;}
}

@media only screen and (max-width: 1320px){
  html{font-size:13px;}
}

@media only screen and (max-width: 1080px){
  html{font-size:12px;}
}

@media only screen and (max-width: 840px){
  html{font-size:11px;}
}

@media only screen and (max-width: 610px){
  html{font-size:10px;}
}

.btn-primary{
  background: #000;
   border-color: #000;
  font-size: 1.2rem;
 }

.btn-primary:hover, .btn-primary:focus{
  background: #000;
  border-color: #ff0b0a;
}

html{
  background: #fff5f5;
  overflow: hidden;
}

body{
  color: #333;
  font-family: "Roboto", sans-serif;
  overflow: hidden;


}

main{
  @include background('bg.jpg');
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;

}

img{
  max-width: 100%;
}

nav.main-nav{
  padding-top: 2rem;
  .main-nav__logo{
    img{
      width: 30rem;
      left: calc(50% - 15rem);
      position:relative;
      max-width: unset;
    }
  }
  .main-nav__bag-icon{
    height: 3rem;
    padding-right: 6rem;
    cursor: pointer;
  }
}

.cart__sidebar{
  position: fixed;
  height: 100%;
  width: 25rem;
  right: -25rem;
  top: 0;
  color: white;
  font-size: 1rem;

  background: #b50203;
  transition-duration: 1s;
  .sidebar__body{
    margin-top: 20%;
  }
  .cart__row{
    margin-bottom: 1rem;
    p{
      margin-bottom: 0;
    }
  }
  .cart__product-name{
    text-transform: uppercase;
  }
  .sidebar__footer{
    margin-top: 2rem;
  }
  .sidebar__close{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 1rem;
    cursor: pointer;
  }
}
.cart__sidebar.active{
  right: 0;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  .w-7r{
    width: 7rem;
  }
  a, p, img{
    margin: 0;
    max-width: 100%;
    text-transform: uppercase;
    color: #616161;
  }
  a{
    font-family: "Dhurjati", sans-serif;
  }
  p{
    font-family: "Codec Pro", sans-serif;
    font-weight: 300;
    font-size: 0.75rem;
  }

  .links{
    a{
      margin: 0 0.2rem;
    }
    .link__insta{
      img{
        height: 20px;

      }
    }
    .link__vk{
      img{
        height: 20px;

      }
    }
  }
}


@include media-breakpoint-down(md){
  .btn-primary{
    background: #000;
    border-color: #000;
    font-size: 1.5rem;
  }
  nav.main-nav {
    margin: 0;
    >div{
      padding: 0;
    }
    .main-nav__logo {
      img {
        width: 20rem;
        left: calc(50% - 10rem);
      }
    }
    .main-nav__bag-icon{
      height: 2.5rem;
      padding-right: 1.5rem;
    }
  }
  .cart__sidebar{
    font-size: 1.5rem;

    width: 100vw;
    right: -100vw;
  }



}