.product-card{padding-top:1rem;height:24rem;background:transparent;border:unset;margin-bottom:2.5rem}.card-title{margin-bottom:0}.card-title img{height:16rem;-o-object-fit:scale-down;object-fit:scale-down}

