.product-card{background:transparent;border:unset;padding:2rem}.card-title img{-o-object-fit:scale-down;object-fit:scale-down}@media (max-width: 767.98px){.btn-primary{font-size:1.2rem;font-weight:800}}

